<!DOCTYPE html>
<html>
	<head>
			<title>Swipee</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  		<script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
      <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-touch.js"></script>
      <link href="home.css" type="text/css" rel="stylesheet" />
      <script src="home.js" type="text/javascript"></script>
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body ng-app="swipee" ng-controller="UserCtrl">
    <div id="invites" ng-repeat="invite in invites" ng-click="clickInvite($event)">
  		<div class="event inv">
        {{invite.name}}</br>{{invite.time}}
        <img class="arrows arrow-left" src="images/Left.png" ng-click="clickLeftArrow($event)"/>
        <img class="arrows arrow-right" src="images/Right.png" ng-click="clickRightArrow($event)"/>
      </div>
      <div class="event info collapse">{{invite.location}}</div>
    </div>
	</body>
</html>