html, body {
  margin: 0px;
  height: 100%;
}

#background {
  height: 100%;
  background-color: #d9d508;
}

#main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}


#invites {
  border-bottom: 1px solid gray;
  text-align: center;
}

.inv {
  margin: 0px;
  padding: 0px;
  height: 50px;
  border-top: 1px solid gray;
}

.info {
  margin: 0px;
  padding: 0px;
  height: 0px;
  opacity: 0;
}

.group {
  background-color: #d60004;
}

.event {
  background-color: #52f132;
}

.arrows {
  position: relative;
  top: -6px;
  width: 5%;
  height: auto;
}

.arrows:hover {
  width: 6%;
  top: -8px;
  cursor: pointer;
}

.arrow-left {
  margin-left: 10px;
  float: left;
}

.arrow-right {
  margin-right: 10px;
  float: right;
}

#options {
  margin: 0px;
  padding: 0px;
  height: 50px;
  border-bottom: 1px solid gray;
  background-color: #b1067b;
}

#create-event, #accepted-events {
  position: relative;
  top: -6px;
  color: black;
}

#create-event:hover, #accepted-events:hover {
  font-weight: bold;
  cursor: pointer;
}

#create-event {
  float: left;
  margin-left: 10px;
}

#accepted-events {
  float: right;
  margin-right: 10px;
}